* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    width: 1200px;
    min-height: 400px;
    margin: 0 auto;
    background-color: rgb(180, 196, 230);
}

.flex .box{
    margin-left: 5px;
    width: 500px;
    height: 50px;
    background-color: red;
}